<header class="header">
    <h1 class="site-title ft-display">
        <a href="{{@blog.url}}">{{@blog.title}}</a>
    </h1>
    <h2 class="desc">
        {{@blog.description}}
    </h2>
</header>
<nav class="nav">

</nav>
