/* -----
    color
   ----- */
/* -----
    global
   ----- */
body {
  background: #f6f5f4;
  font: 14px/1.5 Karla, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #4c4c4c; }

a {
  transition: color .2s;
  color: inherit; }
  a:hover {
    color: #c09886; }

.pure-g [class*="pure-u"] {
  font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit; }

.mt-5 {
  margin-top: 5px; }

.pt-5 {
  padding-top: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.ml-5 {
  margin-left: 5px; }

.pl-5 {
  padding-left: 5px; }

.mr-5 {
  margin-right: 5px; }

.pr-5 {
  padding-right: 5px; }

.mt-10 {
  margin-top: 10px; }

.pt-10 {
  padding-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.pl-10 {
  padding-left: 10px; }

.mr-10 {
  margin-right: 10px; }

.pr-10 {
  padding-right: 10px; }

.mt-15 {
  margin-top: 15px; }

.pt-15 {
  padding-top: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.ml-15 {
  margin-left: 15px; }

.pl-15 {
  padding-left: 15px; }

.mr-15 {
  margin-right: 15px; }

.pr-15 {
  padding-right: 15px; }

.mt-20 {
  margin-top: 20px; }

.pt-20 {
  padding-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.pl-20 {
  padding-left: 20px; }

.mr-20 {
  margin-right: 20px; }

.pr-20 {
  padding-right: 20px; }

.mt-25 {
  margin-top: 25px; }

.pt-25 {
  padding-top: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.pb-25 {
  padding-bottom: 25px; }

.ml-25 {
  margin-left: 25px; }

.pl-25 {
  padding-left: 25px; }

.mr-25 {
  margin-right: 25px; }

.pr-25 {
  padding-right: 25px; }

.mt-30 {
  margin-top: 30px; }

.pt-30 {
  padding-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.ml-30 {
  margin-left: 30px; }

.pl-30 {
  padding-left: 30px; }

.mr-30 {
  margin-right: 30px; }

.pr-30 {
  padding-right: 30px; }

.mt-35 {
  margin-top: 35px; }

.pt-35 {
  padding-top: 35px; }

.mb-35 {
  margin-bottom: 35px; }

.pb-35 {
  padding-bottom: 35px; }

.ml-35 {
  margin-left: 35px; }

.pl-35 {
  padding-left: 35px; }

.mr-35 {
  margin-right: 35px; }

.pr-35 {
  padding-right: 35px; }

.mt-40 {
  margin-top: 40px; }

.pt-40 {
  padding-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.ml-40 {
  margin-left: 40px; }

.pl-40 {
  padding-left: 40px; }

.mr-40 {
  margin-right: 40px; }

.pr-40 {
  padding-right: 40px; }

.layout {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px; }

* {
  box-sizing: border-box; }

.ft-gray {
  color: #e2e3e4; }

.ft-lit {
  font-size: 12px; }

.ft-center {
  text-align: center; }

.ft-title {
  font-family: 'Crimson Text', Arial, Helvetica, sans-serif; }

.ft-display {
  font-family: 'Amatic SC', sans-serif; }

.ft-content {
  font-family: Karla, sans-serif; }

/* -----
    header
   -----*/
.header {
  padding-top: 80px;
  padding-bottom: 80px;
  font-weight: 400;
  text-align: center;
  font-family: 'Crimson Text', Arial, Helvetica, sans-serif; }
  .header .site-title {
    font-size: 40px;
    display: inline-block;
    position: relative;
    text-transform: capitalize; }
    .header .site-title:before {
      content: '';
      left: 50%;
      margin-left: -49px;
      bottom: -10px;
      position: absolute;
      height: 44px;
      width: 98px;
      background: url(../images/leaf.png) no-repeat 0 0;
      opacity: .3; }
    .header .site-title a {
      position: relative;
      z-index: 2; }
  .header .desc {
    font-size: 14px;
    font-family: Karla, sans-serif;
    color: #c09886;
    letter-spacing: 2px; }

/* -----
    post-list
   ----- */
.card {
  margin-bottom: 30px;
  background: #fff; }

.post-card .post-card-image {
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
.post-card .post-card-content {
  padding: 20px 20px 30px; }
.post-card .post-header {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
.post-card .post-tags {
  text-align: center;
  font-size: 12px;
  color: #c09886; }
.post-card .post-date {
  margin-bottom: 10px;
  font-size: 12px;
  color: #e2e3e4;
  text-align: center; }

@media screen and (max-width: 1023px) {
  .post-card .post-card-image {
    height: 300px; } }
@media screen and (max-width: 374px) {
  .post-card .post-card-image {
    height: 200px; } }
.pagination {
  margin-bottom: 40px;
  padding: 15px;
  text-align: center;
  position: relative; }
  .pagination .newer-posts,
  .pagination .older-posts {
    position: absolute;
    top: 0;
    padding: 15px 20px;
    background: #fff; }
  .pagination .older-posts {
    right: 0; }
  .pagination .newer-posts {
    left: 0; }

/* -----
    aside
   ----- */
.aside {
  padding-left: 30px; }
  .aside .side-box {
    padding: 20px;
    background: #fff;
    margin-bottom: 30px; }
  .aside .side-title {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    background: #f4f3f2; }
  .aside .social-link {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #e2e3e4;
    line-height: 40px;
    text-align: center; }
  .aside .tag-list li {
    display: inline-block;
    border: 1px solid #e2e3e4;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    text-align: center; }
  .aside .recent-post {
    padding: 5px 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #e3d1c9; }
    .aside .recent-post .recent-title {
      font-size: 16px; }
    .aside .recent-post .recent-date {
      font-size: 12px;
      color: #e2e3e4; }

.subscribe .subscribe-email {
  height: 40px;
  border: 1px solid #e2e3e4;
  display: block;
  border-radius: 2px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%; }
  .subscribe .subscribe-email:focus {
    outline: none;
    border-color: #e3d1c9; }
.subscribe button {
  height: 40px;
  background: #d1b5a8;
  margin-top: 10px;
  width: 100%;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px; }

/* -----
    tag
   ----- */
.tag-wrap {
  padding: 30px; }

/* -----
    footer
   ----- */
.footer {
  padding: 40px 0 20px;
  color: #e2e3e4;
  text-align: center; }

/* -----
    post
   ----- */
.post-detail {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.post .post-header {
  padding: 30px 0;
  text-align: center; }
  .post .post-header h1 {
    font-size: 30px; }
.post .meta-date {
  color: #93979a; }
.post img {
  max-width: 100%; }
.post .post-tag {
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  background: #f4f3f2; }
.post .post-footer {
  padding-left: 3em;
  padding-right: 3em; }

.article {
  padding: 1em 3em;
  line-height: 1.8;
  font-size: 16px; }
  .article p {
    margin-top: 1em;
    margin-bottom: 2em; }
  .article pre {
    margin: 5px;
    padding: 5px 10px;
    background: #f2f3f4; }
  .article a {
    color: #c09886; }

.post-author {
  margin-top: 20px;
  padding: 1em 3em; }
  .post-author .avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%; }
  .post-author .author-header {
    font-size: 20px; }
  .post-author .author-name {
    padding: 1em 0; }

/*# sourceMappingURL=style.css.map */
